<%- include('../../layout/header.html') -%>

<div class="row">
    <div class="offset-4 col-4">

        <h1>Authentication</h1>
        
        <% if (typeof errors !== 'undefined' && errors.length > 0) { %>
            <ul>
                <% errors.forEach(function(error) { %>
                    <li><%= error.msg %></li>
                <% }); %>
            </ul>
        <% } %>
        
        
        <form action="/login" method="POST" novalidate>

            <div class="mb-3">
                <label for="email" class="form-label">Email:</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Password:</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="**********">
            </div>

            <button type="submit" class="btn btn-primary">Se connecter</button> or <a href="/register">create your new account</a>
        </form>

    </div>
</div>

<%- include('../../layout/footer.html') -%>