<%- include('../../layout/header.html') %>


<div class="row">
    <div class="col-4 offset-4">

        <h1>Create your new account</h1>

        <% if (typeof errors !== 'undefined' && errors.length > 0) { %>
            <ul>
                <% errors.forEach(function(error) { %>
                    <li><%= error.path %> -- <%= error.msg %></li>
                <% }); %>
            </ul>
        <% } %>

        <form rel="js-myForm" method="post" novalidate>
        
            <!-- Firstname -->
            <div class="mb-3">
                <label for="firstname">Your firstname</label>
                <input type="text" id="firstname" name="firstname" class="form-control" required value="john">
            </div>
        
            <!-- Lastname -->
            <div class="mb-3">
                <label for="lastname">Your lastname</label>
                <input type="text" id="lastname" name="lastname" class="form-control" required value="doe">
                <% if (typeof errors !== 'undefined' && errors.length > 0) { %>
                    <% errors.forEach(function(error) { %>
                        <% if (error.path === 'lastname') { %><%= error.msg %><% } %>
                    <% }); %>
                <% } %>
            </div>
        
            <!-- Email -->
            <div class="mb-3">
                <label for="email">Your email address</label>
                <input type="email" id="email" name="email" class="form-control" required value="john@doe.com">
            </div>
        
            <!-- Password -->
            <div class="mb-3">
                <label for="password">Your new password</label>
                <input type="password" id="password" name="password" class="form-control" required value="123456azerty">
            </div>
        
            <button type="submit" class="btn btn-primary">Create my new account</button> or <a href="/login">login</a>
        </form>

    </div>
</div>
<%- include('../../layout/footer.html') %>